body {
  color: #191923;
}
a {
  color: #347FC4;
}
header {
    border: solid #191923;
    padding: 10px;
    background-color: #EFE7DA;
    border-radius: 5px;

  }
  #wrapper {
    padding: 20px;
    width: 70%;
    margin: 0 auto;
  }
  #header-image {
    width: 50px;
    height: 50px;
  }
  #account-links {
    float: right;
    margin-right: 35px;
  }
  .account-link {
    padding: 6px;
    text-decoration: none;
  }
  footer {
    border: solid black;
    background-color: #EFE7DA;
    height: 50px;
    border-radius: 5px;

  }
  .book-info {
    border: solid black;
    margin: 20px 50px;
    padding: 20px;
    display: grid;
    grid-template-areas: "image text text text";
  }
  .book-info-image {
    grid-area: "image";
    width: 150px;
    height: 200px;
  }
  .book-info-text {
    grid-area: "text"
  }
  .account-box {
      border: solid black;
      margin: 150px auto;
      padding: 30px;
      width: 300px;
  }
  .account-box * {
      display: inline-block;
  }